*{
    font-size: 10px;
}

#fire-canvas {
    border-collapse: collapse;
    border: 1px solid black;
    width: fit-content
}

#fire-canvas td {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 1rem;
    position: relative;
}

td div.pixel-index {
    font-size: 0.5rem;
    display: inline-block;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    color: #999;
}

td.pixel{
    height: 4px !important;
    width: 4px !important;
    border: none !important;
}